// Animations

.fadein {
  -webkit-animation: fadein .5s ease;
  animation: fadein .5s ease;
}
@-webkit-keyframes fadein {
  from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadein {
  from { opacity: 0; }
    to { opacity: 1; }
}

// Popin animation used in buttons
@-webkit-keyframes popin {
  from { -webkit-transform: scale(.8); }
    to { -webkit-transform: scale(1); }
}
@keyframes popin {
  from { transform: scale(.8); }
    to { transform: scale(1); }
}
