// Layout

.container {
  max-width: 40rem;
  margin-right: auto;
  margin-left: auto;
}

.block { display: block; }
.inline-block { display: inline-block; }
.clip { overflow: hidden; }
.left { float: left; }
.right { float: right; }

.full-width { width: 100%; }

.relative { position: relative; }
.absolute { position: absolute; }
.absolute-left { top: 0; right: 50%; bottom: 0; left: 0; }
.absolute-right { top: 0; right: 0; bottom: 0; left: 50%; }
.t0 { top: 0; }
.r0 { right: 0; }
.b0 { bottom: 0; }
.l0 { left: 0; }
.vertical-center {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

html, body { height: 100%; }

.gif {
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
