// Logotype

$logotype-padding: 100% - percentage(31/37);

.logotype {
  position: relative;
  height: 0;
  padding-bottom: 7.5%;
  overflow: hidden;
}
.logotype--mr,
.logotype--mrs,
.logotype--jxn,
.logotype--blk {
  position: absolute;
  transition: all .4s ease;
  width: 30%;
  svg {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    transition: all .4s ease;
  }
}
.logotype--mr svg {
  padding-left: $logotype-padding;
  margin-left: $logotype-padding;
}
.logotype--blk svg { padding-right: $logotype-padding; }
.mrsjxn {
  .logotype--mr { left: -30%; opacity: 0; }
  .logotype--mrs { left: 20%; margin-left: 2%; }
  .logotype--jxn {
    left: 50%;
    margin-left: 2%;
    svg { padding-right: $logotype-padding; }
  }
  .logotype--blk { left: 100%; opacity: 0; }
}
.jxnblk {
  .logotype--mr { left: -30%; opacity: 0; }
  .logotype--mrs { left: -30%; opacity: 0; }
  .logotype--jxn {
    left: 20%; 
    svg {
      padding-left: $logotype-padding;
      margin-left: $logotype-padding;
    }
  }
  .logotype--blk { left: 50%; }
}
.mr_mrs {
  .logotype--mr { left: 20%; margin-left: -4%; }
  .logotype--mrs { left: 50%; margin-left: -4%; }
  .logotype--jxn {
    left: 100%;
    opacity: 0;
    svg { padding-right: $logotype-padding; }
  }
  .logotype--blk { left: 100%; opacity: 0; }
}
