// Margin

//.m1 { margin: $space; }
.mt1 { margin-top: $space; }
.mr1 { margin-right: $space; }
.mb1 { margin-bottom: $space; }
.ml1 { margin-left: $space; }
//.m2 { margin: 2*$space; }
.mt2 { margin-top: 2*$space; }
.mr2 { margin-right: 2*$space; }
.mb2 { margin-bottom: 2*$space; }
.ml2 { margin-left: 2*$space; }
