// Padding

.p1 { padding: $space; }
.py1 { padding-top: $space; padding-bottom: $space; }
.px1 { padding-left: $space; padding-right: $space; }
.p2 { padding: 2*$space; }
.py2 { padding-top: 2*$space; padding-bottom: 2*$space; }
.px2 { padding-left: 2*$space; padding-right: 2*$space; }
.p3 { padding: 4*$space; }
.py3 { padding-top: 4*$space; padding-bottom: 4*$space; }
.px3 { padding-left: 4*$space; padding-right: 4*$space; }
.p4 { padding: 8*$space; }
.py4 { padding-top: 8*$space; padding-bottom: 8*$space; }
.px4 { padding-left: 8*$space; padding-right: 8*$space; }
