// States

@media screen and (max-width:40em) {
  .mobile-hide { display: none; }
}

.hover-show { opacity: 0; }
.hover-group {
  &:hover .hover-show {
    opacity: 1;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease;
  }
}
