// Table object

.table {
  display: table;
  width: 100%;
}
.table-fixed {
  table-layout: fixed;
}
.table-body {
  width: 100%;
}
.table-cell {
  display: table-cell;
  vertical-align: middle;
}

@media screen and (min-width:40em) {
  .desktop-table {
    display: table;
    width: 100%;
  }
  .desktop-table-fixed {
    table-layout: fixed;
  }
  .desktop-table-cell {
    display: table-cell;
    vertical-align: middle;
  }
}
