// Theme

.clickable { cursor: pointer; }
.border-bottom { border-bottom: 1px solid; }
.outline { outline: 1px solid cyan; }
.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bg-fixed {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  background-size: cover;
  background-position: center center;
  opacity: 1;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  &.ng-hide {
    opacity: 0;
    display: block !important;
  }
  &.ng-hide-add,
  &.ng-hide-remove {
    display: block !important;
  }
}

// Style for inverted text
.dark {
  color: $dark;
  .progress,
  a {
    color: $dark;
  }
  .butt-active,
  .active-dot:after,
  .progress-value {
    background-color: $dark;
  }
  .butt-active { color: white; }
  svg { fill: $dark; }
  .butt-circle,
  .butt {
    color: $dark;
    &:hover {
      color: white;
      background-color: $dark;
      box-shadow: none;
      svg {
        fill: white;
      }
    }
  }
  .active {
    color: white;
    background-color: $dark;
    a {
      color: white;
    }
  }
  .butt-tap{
    &:hover {
      box-shadow: inset 0 0 0 1px $dark;
    }
  }
}

.input-white {
  background-color: white;
  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px $dark, 0 0 0 4px white;
  }
}
