// Theme

.clickable { cursor: pointer; }
.border-bottom { border-bottom: 1px solid; }
.outline { outline: 1px solid cyan; }

.bg-fixed {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  background-size: cover;
  background-position: center center;
  opacity: 1;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  &.ng-hide {
    opacity: 0;
    display: block !important;
  }
  &.ng-hide-add,
  &.ng-hide-remove {
    display: block !important;
  }
}

// Style for inverted text
.dark {
  color: $dark;
  .progress,
  a {
    color: $dark;
  }
  .butt-active,
  .active-dot:after,
  .progress-value {
    background-color: $dark;
  }
  .butt-active { color: white; }
  svg { fill: $dark; }
  .butt-circle,
  .butt {
    color: $dark;
    &:hover {
      color: white;
      background-color: $dark;
      box-shadow: none;
      svg {
        fill: white;
      }
    }
  }
}
