// MrsJxn.com

// Variables

$space: .5rem;
$dark: #111;


// Base

body {
  font-family: 'Avenir Next', Avenir, Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.25;
  margin: 0;
  padding: 0;
  color: white;
  background-color: $dark;
}

a {
  color: white;
  text-decoration: none;
}
svg {
  max-height: 100%;
  fill: white;
}

.list-simple {
  list-style: none;
  padding-left: 0;
}


// Type

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
}

p {
  margin-top: 0;
  margin-bottom: $space;
}

.h0 { font-size: 6rem; }
h1, .h1 { font-size: 3rem; }
h2, .h2 { font-size: 1.5rem; }
h3, h4, h5, p, .h3 { font-size: 1.25rem; }
h6, small, .h4 { font-size: .875rem; }

.caps {
  text-transform: uppercase;
  letter-spacing: .2em;
}
.regular { font-weight: 400; }
.bold { font-weight: 600; }
.center { text-align: center; }
.tappable { line-height: 3rem; }


// Padding
.p1 { padding: $space; }
.py1 { padding-top: $space; padding-bottom: $space; }
.px1 { padding-left: $space; padding-right: $space; }
.p2 { padding: 2*$space; }
.py2 { padding-top: 2*$space; padding-bottom: 2*$space; }
.px2 { padding-left: 2*$space; padding-right: 2*$space; }
.p3 { padding: 4*$space; }
.py3 { padding-top: 4*$space; padding-bottom: 4*$space; }
.px3 { padding-left: 4*$space; padding-right: 4*$space; }
.p4 { padding: 8*$space; }
.py4 { padding-top: 8*$space; padding-bottom: 8*$space; }
.px4 { padding-left: 8*$space; padding-right: 8*$space; }


// Margin
.m1 { margin: $space; }
.mt1 { margin-top: $space; }
.mr1 { margin-right: $space; }
.mb1 { margin-bottom: $space; }
.ml1 { margin-left: $space; }
.m2 { margin: 2*$space; }
.mt2 { margin-top: 2*$space; }
.mr2 { margin-right: 2*$space; }
.mb2 { margin-bottom: 2*$space; }
.ml2 { margin-left: 2*$space; }


// Layout
.container {
  max-width: 40rem;
  margin-right: auto;
  margin-left: auto;
}
.block { display: block; }
.clip { overflow: hidden; }
.left { float: left; }
.right { float: right; }
.relative { position: relative; }
.absolute { position: absolute; }
.absolute-left { top: 0; right: 50%; bottom: 0; left: 0; }
.absolute-right { top: 0; right: 0; bottom: 0; left: 50%; }


// Icons
.icon {
  display: inline-block;
  width: 2em;
  height: 2em;
  fill: #fff;
}


// Buttons
.butt {
  display: inline-block;
  line-height: 2.5em;
  padding-right: 1em;
  padding-left: 1em;
  text-decoration: none;
  box-shadow: inset 0 0 0 2px white;
  border-radius: .25rem;
  &:hover {
    color: $dark;
    background-color: white;
  }
}
.butt-active {
  color: $dark;
  background-color: white;
}
.butt-circle {
  display: inline-block;
  width: 3em;
  height: 3em;
  text-align: center;
  line-height: 3em;
  text-decoration: none;
  box-shadow: inset 0 0 0 3px white;
  border-radius: 50%;
  transition: all .1s ease;
  -webkit-animation: popin .1s ease;
  animation: popin .1s ease;
  svg {
    position: relative;
    top: .3125em;
    width: 1.25em;
    height: 1.25em;
  }
  .nudge-left { left: .125em; }
  &:hover {
    color: $dark;
    background-color: white;
    svg { fill: $dark; }
  }
}
.butt-icon {
  display: inline-block;
  line-height: 4rem;
  padding: 0 1em;
  svg {
    position: relative;
    top: .3125em;
    width: 1.5em;
    height: 1.5em;
  }
}
.butt-tap {
  display: block;
  line-height: 3em;
  padding-right: 1em;
  padding-left: 1em;
  transition: all .3s ease;
  box-shadow: inset 0 0 0 1px transparent;
  &:hover {
    box-shadow: inset 0 0 0 1px white;
  }
}
@-webkit-keyframes popin {
  from { -webkit-transform: scale(.8); }
    to { -webkit-transform: scale(1); }
}
@keyframes popin {
  from { transform: scale(.8); }
    to { transform: scale(1); }
}

// Avatars
$avatar-size: 196px;
.avatars {
  position: relative;
  height: $avatar-size;
  overflow: hidden;
}
.avatar {
  position: absolute;
  left: 50%;
  overflow: hidden;
  transition: all .6s ease;
  width: $avatar-size;
  svg {
    width: $avatar-size;
    height: $avatar-size;
    transition: all .6s ease;
  }
}
.avatar--jxnblk-eyes {
  margin-left: -$avatar-size/2;
  //transition: all .6s ease;
}
.mrsjxn {
  .avatar--skullcat {
    width: $avatar-size/2;
    margin-left: -($avatar-size/2 + 4px);
  }
  .avatar--jxnblk {
    width: $avatar-size/2;
    margin-left: 4px;
    svg {
      margin-left: -$avatar-size/2;
    }
  }
  .avatar--jxnblk-eyes {
    opacity: 0;
  }
}
.jxnblk {
  .avatar--skullcat {
    left: -$avatar-size;
    opacity: 0;
  }
  .avatar--jxnblk {
    margin-left: -$avatar-size/2;
  }
  .avatar--jxnblk-eyes {
    margin-left: -$avatar-size/2;
    opacity: 0;
  }
}
.mr_mrs {
  .avatar--skullcat {
    margin-left: -$avatar-size/2;
  }
  .avatar--jxnblk {
    left: 100%;
    opacity: 0;
  }
  .avatar--jxnblk-eyes {
    left: 100%;
    opacity: 0;
  }
}

// Logotype
$logotype-padding: 100% - percentage(31/37);
.logotype {
  position: relative;
  height: 0;
  padding-bottom: 7.5%;
  overflow: hidden;
}
.logotype--mr,
.logotype--mrs,
.logotype--jxn,
.logotype--blk {
  position: absolute;
  transition: all .4s ease;
  width: 30%;
  svg {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    transition: all .4s ease;
  }
}
.logotype--mr svg {
  padding-left: $logotype-padding;
  margin-left: $logotype-padding;
}
.logotype--blk svg { padding-right: $logotype-padding; }
.mrsjxn {
  .logotype--mr { left: -30%; opacity: 0; }
  .logotype--mrs { left: 20%; margin-left: 2%; }
  .logotype--jxn {
    left: 50%;
    margin-left: 2%;
    svg { padding-right: $logotype-padding; }
  }
  .logotype--blk { left: 100%; opacity: 0; }
}
.jxnblk {
  .logotype--mr { left: -30%; opacity: 0; }
  .logotype--mrs { left: -30%; opacity: 0; }
  .logotype--jxn {
    left: 20%; 
    svg {
      padding-left: $logotype-padding;
      margin-left: $logotype-padding;
    }
  }
  .logotype--blk { left: 50%; }
}
.mr_mrs {
  .logotype--mr { left: 20%; margin-left: -4%; }
  .logotype--mrs { left: 50%; margin-left: -4%; }
  .logotype--jxn {
    left: 100%;
    opacity: 0;
    svg { padding-right: $logotype-padding; }
  }
  .logotype--blk { left: 100%; opacity: 0; }
}

// Progress bar
.progress {
  position: relative;
  height: $space;
  box-shadow: inset 0 0 0 1px white;
}
.progress-value {
  position: absolute;
  top: 0; bottom: 0; left: 0;
  background-color: white;
  &:after {
    content: '';
    display: block;
    height: 2*$space;
    margin-top: -$space/2;
    border-right: 2px solid white;
  }
}
.progress-overlay {
  position: absolute;
  top: -$space; right: 0; bottom: -$space; left: 0;
  cursor: pointer;
}

.clickable { cursor: pointer; }

.border-bottom { border-bottom: 1px solid white; }

.outline { outline: 1px solid cyan; background-color: rgba(cyan,.2); }

.fadein {
  -webkit-animation: fadein .5s ease;
  animation: fadein .5s ease;
}
@-webkit-keyframes fadein {
  from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadein {
  from { opacity: 0; }
    to { opacity: 1; }
}
