/*

        Mathematical Modules


*/


// Media
.media {
  overflow: hidden;
  .img {
    float: left;
  }
  .bd {
    overflow: hidden;
  }
}

@media screen and (max-width: 512px){
  .media-fold512 {
    .img {
      float: none;
    }
  }  
}

@media screen and (max-width: 767px){
  .media-fold768 {
    .img {
      float: none;
    }
  }  
} 


// Buttons

.btn {
  display: inline-block;
  overflow: hidden;
}

.btn-med {
  line-height: 48px;
  padding: 0 16px;
}

.btn-big {
  line-height: 64px;
  padding: 0 16px;
}

.cap-left {
  padding: 0 16px;
  margin-left: -16px;
}

.cap-right {
  padding: 0 16px;
  margin-right: -16px;
}

// Modal

.modal {
  display: none;
  width: 100%;
  min-height: 100%;
  position: fixed;
  overflow-y: scroll;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1024;
  &:target {
    display: block;
  }
}



// Drawer

.drawer {
  display: none;
  &:target {
    display: block;
  }
}


// Hover show

.hover-show {
  display: none;
}

.hover-group:hover {
  .hover-show {
    display: block;
  }
}


