/*

        Mathematical Theme


*/

$dkgry: #444;
$mdgry: #999;
$ltgry: #eee;
$link:  #0cf;

// Add prime color

body {
  color: $dkgry;
  background-color: #fff;
  font-family: "freight-sans-pro", Helvetica, sans-serif;
  //font-family: "skolar", Georgia, serif;
}
body,html {height:100%;}

//.sans { font-family: "freight-sans-pro", Helvetica, sans-serif; }


a {
  color: $link;
  text-decoration: none;
}

a:hover {
  color: darken($link, 10%);
}


.dkgry { color: $dkgry; }
.mdgry { color: $mdgry; }
.ltgry { color: $ltgry; }
.wht   { color: #fff; }
.link  { color: $link; }

.bg-dkgry { background-color: $dkgry; }
.bg-mdgry { background-color: $mdgry; }
.bg-ltgry { background-color: $ltgry; }
.bg-wht   { background-color: #fff; }
.bg-link  { background-color: $link; }


.boto { border-top:    1px solid; }
.bori { border-right:  1px solid; }
.bobo { border-bottom: 1px solid; }
.bole { border-left:   1px solid; }

.bo-dkgry { border-color: $dkgry; }
.bo-mdgry { border-color: $mdgry; }
.bo-dkltgry { border-color: darken($ltgry,10%); }
.bo-ltgry { border-color: $ltgry; }
.bo-wht {   border-color: #fff; }


.rc, .btn {   border-radius: .25rem; }
.circ     {   border-radius: 50%; }


.btn-link {
  color: #fff;
  background-color: $link;
  &:hover {
    color: #fff;
    background-color: lighten($link, 10%);
  }
  &:active {
    box-shadow: inset 0 2px 4px rgba($dkgry, .5);
  }
}

.btn-gry {
  color: #fff;
  background-color: $mdgry;
  &:hover {
    color: #fff;
    background-color: lighten($mdgry, 10%);
  }
  &:active {
    box-shadow: inset 0 2px 4px rgba($dkgry, .5);
  }
}

.bg-darken {
  background-color: rgba(0,0,0,0.2);
}

.hover-grow:hover { -webkit-transform: scale(1.1); -webkit-transition: all .1s linear; }
.hover-glow:hover { box-shadow: 0 0 1px 1px $link; }



// Jxnblk.com photo

.bg-jxnblk { background-image: url(/images/jxnblk.jpg); }

//.bg-jxn { background-image: url(images/Jackson-q60.jpg); }

//.bg-microbeats { background-image: url(images/microbeats.jpg); }

.bg-speckles {background:transparent url(/images/background.jpg) no-repeat;}

.bg-center  { background-position: center;}
.bg-cover   { background-size: cover; }
.bg-contain { background-size: contain; }
.bg-mrsjxn-faces {background:transparent url(/images/mrsjxn.png) no-repeat center center;}
.bg-jxn-face {background:transparent url(/images/jxn.png) no-repeat center center;}
.bg-mrs-face {background:transparent url(/images/mrs.png) no-repeat center center;}


.logo {
  width:50%;
  float:left;
  height:60px;
  margin-top:100px;
  outline:1px solid gold;
  max-height:60px;
  img {max-height:100%;max-width:100%;}
}

.logo--right {
  img {right:-100%;}
}

.logo--left {
  img {left:-100%; }
}

.nav-link {
  padding:20px;
  background:$ltgry;
  text-transform:uppercase;
}

.twitter {
  background:url(/images/twitter.svg) no-repeat 0 0;
  background-size:48px 48px;
  color:#fff!important;
  line-height:48px;
  text-indent:-9999px;
  position:relative;
  left:5px;
  -webkit-transition:-webkit-transform .4s;
  &:hover {
    -webkit-transition:-webkit-transform .4s;
    -webkit-transform:rotate(16deg);
  }
}

.soundcloud {
  background:url(/images/soundcloud.svg) no-repeat 0 0;
  background-size:48px 48px;
  color:#fff!important;
  line-height:48px;
  position:relative;
  left:-5px;
  text-indent:-9999px;
  -webkit-transition:-webkit-transform .4s;
  &:hover {
    -webkit-transition:-webkit-transform .5s;
    -webkit-transform:rotate(-16deg);
  }
}


