/*

        Mathematical Theme


*/

$dkgry: #444;
$mdgry: #999;
$ltgry: #eee;
$link:  #0cf;

// Add prime color

body {
  color: $dkgry;
  background-color: #fff;
  font-family: "freight-sans-pro", Helvetica, sans-serif;
  //font-family: "skolar", Georgia, serif;
}
body,html {height:100%;}

//.sans { font-family: "freight-sans-pro", Helvetica, sans-serif; }


a {
  color: $link;
  text-decoration: none;
}

a:hover {
  color: darken($link, 10%);
}

.dkgry { color: $dkgry; }
.mdgry { color: $mdgry; }
.ltgry { color: $ltgry; }
.wht   { color: #fff; }
.link  { color: $link; }

.bg-dkgry { background-color: $dkgry; }
.bg-mdgry { background-color: $mdgry; }
.bg-mdgry2 { background-color: #ccc; }
.bg-ltgry { background-color: $ltgry; }
.bg-wht   { background-color: #fff; }
.bg-link  { background-color: $link; }


.boto { border-top:    1px solid; }
.bori { border-right:  1px solid; }
.bobo { border-bottom: 1px solid; }
.bole { border-left:   1px solid; }

.bo-dkgry { border-color: $dkgry; }
.bo-mdgry { border-color: $mdgry; }
.bo-dkltgry { border-color: darken($ltgry,10%); }
.bo-ltgry { border-color: $ltgry; }
.bo-wht {   border-color: #fff; }


.rc, .btn {   border-radius: .25rem; }
.circ     {   border-radius: 50%; }


.btn-link {
  color: #fff;
  background-color: $link;
  &:hover {
    color: #fff;
    background-color: lighten($link, 10%);
  }
  &:active {
    box-shadow: inset 0 2px 4px rgba($dkgry, .5);
  }
}

.btn-gry {
  color: #fff;
  background-color: $mdgry;
  &:hover {
    color: #fff;
    background-color: lighten($mdgry, 10%);
  }
  &:active {
    box-shadow: inset 0 2px 4px rgba($dkgry, .5);
  }
}

.bg-darken {
  background-color: rgba(0,0,0,0.2);
}

.hover-grow:hover { -webkit-transform: scale(1.1); -webkit-transition: all .1s linear; }
.hover-glow:hover { box-shadow: 0 0 1px 1px $link; }



// Jxnblk.com photo

//.bg-jxnblk { background-image: url(/images/jxnblk.jpg); }

//.bg-jxn { background-image: url(images/Jackson-q60.jpg); }

//.bg-microbeats { background-image: url(images/microbeats.jpg); }

.bg-speckles {background:transparent url(/images/background.jpg) no-repeat;}


.bg-center  { background-position: center;}
.bg-cover   { background-size: cover; }
.bg-contain { background-size: contain; }
//.bg-mrsjxn-faces {background:transparent url(/images/mrsjxn.png) no-repeat center center cover;}

.bg-jxn-face {
  background-color:transparent;
  background-image: url(/images/jxn.jpg);
  background-repeat: no-repeat;
  background-position: 50% center;
}

.bg-mrs-face {
  background-color:transparent;
  background-image: url(/images/mrs.jpg);
  background-repeat: no-repeat;
  background-position: 50% center;
}


.header-bg-full {
  left: 0;
  right: 0;
  width: 100%;
}

.header-bg-left {
  left: 0;
  right: 50%;
  width: 50%;
}

.header-bg-right {
  left: 50%;
  right: 0;
  width: 50%;
}

.header-bg-off-left {
  left: -50%;
  right: 100%;
  width: 50%;
}

.header-bg-off-right {
  left: 100%;
  right: -50%;
  width: 50%;
}

.invert {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.title {}

.title-pad { }

.title-mr {
  padding-left: 31.579%;
  padding-right: 0;
}

.title-mrs {
  padding-left: 0;
  padding-right: 0;
}

.title-jxn {
  padding-left: 0;
  padding-right: 10.5263%;
}

.title-left .title-jxn {
  padding-left: 10.5263%;
  padding-right: 0;
}

.title-blk {
  padding-left: 0;
  padding-right: 10.5263%;
}

.title-left {
  position: absolute;
  left: 20%;
  right: 50%;
}

.title-right {
  position: absolute;
  left: 50%;
  right: 20%;
}

.title-off-left {
  position: absolute;
  left: -50%;
  right: 100%;
}

.title-off-right {
  position: absolute;
  left: 100%;
  right: -50%; 
}

.nav-link {
  padding:20px;
  background:$ltgry;
  text-transform:uppercase;
}



/* ==========================================================================
   TOUCH ICONS
   ========================================================================== */

.twitter {
  background:url(/images/twitter.svg) no-repeat 0 0;
  left:5px;
  &:hover {
    -webkit-transform:rotate(16deg);
  }
}

.soundcloud {
  background:url(/images/soundcloud.svg) no-repeat 0 0;
  left:-5px;
  &:hover {
    -webkit-transform:rotate(-16deg);
  }
}

.touch-icon {
  text-indent:-9999px;
  background-size:48px 48px;
  position:relative;
  -webkit-transition:-webkit-transform ease-in-out .5s;
  -webkit-backface-visibility: hidden;
  line-height:48px;
  color:#fff!important;
  &:hover {
    -webkit-transition:-webkit-transform .4s;
  }
}

.bg-dim-white { background:rgba(255,255,255,0.2); }

.no-hover:hover { color:#fff!important; }
