  <footer class="wi100 bg-link txtcen marto boto bo-dkltgry">
    <div class="bg-wht pad marbo">
      <p > 
        <a href="http://mrmrs.cc" title="Adam Morse">MRMRS</a> 
        <a href="http://jxnblk.com" title="Jackson Black">JXNBLK</a> 
      </p>
    </div>
    <div class="social">
      <p class="wht padbo-half">mrsjxn contact</p>
      <a href="http://soundcloud.com/mrsjxn" class="disib touch-icon soundcloud sq48 no-flick">/mrsjxn</a>
      <a href="http://twitter.com/mrsjxn_" class="disib touch-icon twitter sq48  no-flick">@mrsjxn_</a>
    </div>
    <p class="small txtcen padto wht"> Powered by SoundCloud</p> 
  </footer>
