


<div class="overhide posabs fill">
  <div class="bg-mrs-face bg-cover posabs to0 bo0 trans-all trans-slow2" ng-class="{'header-bg-full': view == 'mr_mrs', 'header-bg-left': view == 'mrsjxn', 'header-bg-off-left': view == 'jxnblk'}"></div>
  <div class="bg-jxn-face bg-cover posabs to0 bo0 trans-all trans-slow2" ng-class="{'header-bg-off-right': view == 'mr_mrs', 'header-bg-right': view == 'mrsjxn', 'header-bg-full': view == 'jxnblk'}"></div>
</div>

<div class="title to40 overhide posabs fill">
  <div class="title-pad title-off-left wi30 trans-all trans-med">
    <img class="title-mr wi100 bobox invert trans-all trans-med" src="images/logo-mr.svg" />
  </div>
  <div class="title-pad title-left wi30 trans-all trans-med">
    <img class="title-mrs wi100 bobox invert trans-all trans-med" src="images/logo-mrs.svg" />
  </div>
  <div class="title-pad title-right wi30 trans-all trans-med">
    <img class="title-jxn wi100 bobox invert trans-all trans-med" src="images/logo-jxn.svg" />
  </div>
  <div class="title-pad title-off-right wi30 trans-all trans-med">
    <img class="title-blk wi100 bobox invert trans-all trans-med" src="images/logo-blk.svg" />
  </div>
</div>



      <!-- {{test}} - {{view}} -->

<!--
    <div class="bg-mrs-face bg-cover wi100 minhi256">
      <div class="logo txtri posrel logo--right">
        <img src="/images/logo-mr.svg" class="lh-256 posabs  disnon">
        <img src="/images/logo-mrs.svg" class="lh-256 posabs disnon animate-right">
        <img src="/images/logo-jxn.svg" class="lh-256 posabs animate-right">
      </div>
      <div class="logo posrel logo--left">
        <img src="/images/logo-mrs.svg" class="lh-256 posabs disnon">
        <img src="/images/logo-jxn.svg" class="lh-256 disnon posabs animate-left">
        <img src="/images/logo-blk.svg" class="lh-256 posabs animate-left">
      </div>
     </div>
-->


  <nav class="disblo txtcen tappad posabs bo0 ri0 le0 h2 caps">
    <a ng-href="#mr_mrs" class="wht fl padle padri">Mrmrs</a>
    <a ng-href="#" class="wht padle padri">Mrsjxn</a>
    <a ng-href="#jxnblk" class="wht fr padle padri">Jxnblk</a>
  </nav>
