<div class="">
  <img ng-hide="gif == true" ng-src="{{ gif }}" class="full-width"/>
</div>

<div class="container px2 py4">
  <div class="table">
    <div class="table-cell">
      <a href
        class="butt-icon"
        ng-hide="player.playing"
        ng-click="player.play(player.tracks, player.i)">
          <div icon="play" class=""></div>
      </a>
      <a href
        class="butt-icon"
        ng-show="player.playing"
        ng-click="player.pause()">
          <div icon="pause"></div>
      </a>
    </div>
    <div class="table-cell table-body px2">
      <h1 class="h3 caps regular">{{ player.tracks[player.i].user.username }}</h1>
      <h1 class="h2 caps">{{ player.tracks[player.i].title }}</h1>
    </div>
  </div>

  <div class="table py2 mb2 border-bottom">
    <div class="table-cell pr2">
      <a href="https://twitter.com/intent/tweet?text=test&url={{ location.absUrl() | escape }}" target="_blank" class="butt">Tweet</a>
    </div>
    <div class="table-cell table-body">
      <input class="input input-white full-width" type="text" value="{{ location.absUrl() }}" ng-click="onTextClick($event)" >
    </div>
  </div>

  <form class="py2" ng-submit="setGif(gif)">
    <label class="block mb1" for="gif">Image URL</label>
    <input type="text" ng-model="gif" name="gif" class="input input-white block full-width mb2">
    <input type="submit" value="Update" class="butt-reset butt">
  </form>

  <div class="center">
    <a href ng-click="goHome()" class="butt">Back Home</a>
  </div>
</div>
