<div class="">
  <img ng-hide="gif == true" ng-src="{{ gif }}" class="full-width"/>
</div>

<div class="container px2 py2">
  <div class="table">
    <div class="table-cell">
      <a href
        class="butt-icon"
        ng-hide="player.playing"
        ng-click="player.play(player.tracks, player.i)">
          <div icon="play" class=""></div>
      </a>
      <a href
        class="butt-icon"
        ng-show="player.playing"
        ng-click="player.pause()">
          <div icon="pause"></div>
      </a>
    </div>
    <div class="table-cell table-body px2">
      <h1 class="h3 caps regular">{{ player.tracks[player.i].user.username }}</h1>
      <h1 class="h2 caps">{{ player.tracks[player.i].title }}</h1>
    </div>
  </div>

  <div class="py2">
    <a href="https://twitter.com/intent/tweet?text=Bump this:&url={{ location.absUrl() | escape }}" target="_blank" class="butt nowrap mr2">
      <span icon="twitter" class="icon-small"></span>
      Tweet
    </a>
    <label>Link:</label>
    <input class="input input-white xfull-width" type="text" value="{{ location.absUrl() }}" ng-click="onTextClick($event)" >
  </div>

  <form class="py4" ng-submit="setGif(gif)">
    <h2 class="h3 mb1">Customize:</h2>
    <div class="table">
      <div class="table-cell pr2">
        <label class="nowrap" for="gif">Image URL</label>
      </div>
      <div class="table-cell table-body pr2">
        <input type="text" ng-model="gif" ng-click="onTextClick($event)" name="gif" class="input input-white block full-width">
      </div>
      <div class="table-cell">
        <input type="submit" value="Update" class="butt-reset butt">
      </div>
    </div>
  </form>

  <div class="center py2">
    <a href ng-click="goHome()" class="butt">Back Home</a>
  </div>
</div>
