<nav class="h4 bold caps center clip px2">
  <a href ng-click="setView('mr_mrs')" class="left tappable px1" >MrMrs</a>
  <a href ng-click="setView('jxnblk')" class="right tappable px1" >Jxnblk</a>
  <a href ng-click="setView('mrsjxn')" class="tappable px1" >MrsJxn</a>
</nav>
<div class="py2">
  <div ng-include="'partials/header.html'"></div>
  <div class="center container p2" ng-include="'partials/player.html'"></div>
</div>
<div class="center py4">
  <p class="h4 caps container px2">{{ tracks[0].user.username }}</p>
  <div ng-repeat="track in tracks">
    <a href
      class="h3 bold butt-tap container"
      ng-class="{'butt-active': track.id == ( player.playing.id || player.paused.id ) }"
      ng-click="player.playPause(tracks, $index)">
        {{ track.title }}
    </a>
  </div>
</div>

