<a href
  class="butt-icon mr1 fadein no-tap-highlight"
  ng-show="player.playing || player.paused"
  ng-click="player.previous()">
    <div icon="previous"></div>
</a>
<a href
  class="h2 butt-circle mb2 no-tap-highlight"
  ng-hide="player.playing"
  ng-click="player.play(player.tracks, player.i)">
    <div icon="play" class="nudge-left"></div>
</a>
<a href
  class="h2 butt-circle mb2 no-tap-highlight"
  ng-show="player.playing"
  ng-click="player.pause()">
    <div icon="pause"></div>
</a>
<a href
  class="butt-icon ml1 fadein no-tap-highlight"
  ng-show="player.playing || player.paused"
  ng-click="player.next()">
    <div icon="next"></div>
</a>
<h1 class="h2 caps mb2 break-word">{{ player.tracks[player.i].title }}</h1>
<div class="progress mb1">
  <div class="progress-value" style="width: {{currentTimePercentage}}%"></div>
  <div class="progress-overlay no-tap-highlight" ng-click="seekTo($event)"></div>
</div>
<div class="h5 caps clip">
  <div class="left">{{ currentTimeMS | playTime }}</div>
  <div class="right">{{ durationMS | playTime }}</div>
</div>
<div class="h4">
  <a href="https://twitter.com/intent/tweet?text=Bump this:&url={{ location.absUrl() | escape }}&via=mrsjxn_"
    target="_blank" class="butt bold">
    <span icon="twitter" class="icon-small"></span>
    Tweet
  </a>
</div>
