<ul class="list-simple fadein">
  <li
    class="butt-tap container px2" 
    ng-class="{'active': track.id == ( player.playing.id || player.paused.id ) }"
    ng-repeat="track in tracks">
    <div class="table">
      <a href
        class="block table-cell table-body py1 h3 bold"
        ng-click="player.playPause(tracks, $index)">
          {{ track.title }}
      </a>
      <div class="table-cell nowrap">
        <span class="h5 regular mr1 mobile-hide">{{ track.duration | playTime }}</span>
        <a ng-href="{{track.permalink_url}}" target="_blank" class="h5 butt">Details</a>
      </div>
    </div>
  </li>
</ul>
<div class="container center h4 caps">
  <a ng-href="{{ tracks[0].user.permalink_url }}">{{ tracks[0].user.username }} on SoundCloud</a>
</div>
