<ul class="list-simple fadein">
  <li
    class="table tappable container py1"
    ng-class="{'active': track.id == ( player.playing.id || player.paused.id ) }"
    ng-repeat="track in tracks">
    <a href
      class="block table-cell table-body h3 bold px2"
      ng-click="player.playPause(tracks, $index)">
        {{ track.title }}
    </a>
    <div class="table-cell nowrap px2">
      <span class="h5 regular mr1">{{ track.duration | playTime }}</span>
      <a ng-href="{{track.permalink_url}}" target="_blank" class="h5 butt">Details</a>
    </div>
  </li>
</ul>
