@mixin breakpoint($viewport-width) {
  @if $viewport-width == one-hand {
    @media screen and (min-width:100px) and (max-width: 479px) { 
      @content; 
    }  
  }
}

body,html {
  position:relative;
  top:0;
}

.single-column {
  margin:0 auto;
  padding:0;
  width:100%;
}

.float-container {
  overflow:hidden;
}

.post {
  overflow:hidden;
  height:auto;
}


.flf {
  float:left;
  width:100%;
}

.catalog-title {text-align:center;width:100%;font-size:48px;}
