

.time-travel {
  background:$grey-dark;
  color:white;
  padding:.5em;
  display:inline-block;
  text-decoration:none;
  font-weight:100;
  &:hover {
    background-color:$orange;
  }
}

.text-link {
  text-decoration:none;
  color:$grey-medium;
  transition:color, .5s;
}

.text-link:hover {
  color:$orange;
  transition:color, .5s;
}


